@-moz-viewport{ width: device-width; scale: 1;}
@-ms-viewport{ width: device-width; scale: 1;}
@-o-viewport{ width: device-width; scale: 1;}
@-webkit-viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width;scale: 1;}


html{
	background:#000;
	border-right: 8px solid #8d7401;
	height: 100%;
	
}

#logo{
	margin-top: 400px;
	margin-left: 30px;
	
}

#logoportfolio{
	margin-left: 30px;
	
}

p{
	font-family: 'Quicksand', sans-serif;
	font-size: 90%;
	line-height: 20px;
	margin-bottom: 30px;
	color:#FFF;
	margin-top: 10px;
	padding-left: 40px;
	display:block;
}

@media only screen and (min-width: 30em){
	p{
		width: 400px;
	}
}

#connect li {
display: inline;
list-style-type: none;
float: left;
margin-right: 10px;
}

#connect{
	
	position: absolute;
	top: 700px;
	left:0;
	
}


 #connect img{
	 width: 24px;
 }
 
 #connectportfolio li{
display: inline;
list-style-type: none;
float: left;
margin-right: 10px;
	
}

#connectportfolio img{
	width: 24px;
	
}
nav{
	position:absolute;
	top: 10px;
	right: 20px;
}

nav li{
	margin: 10px;
	list-style-type: none;
	display:inline;
	float: teft;
}

nav li a{
	color:#FFF;
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;

}

#worksmall li{
	display: inline-block;
	line-height:20px;
	
}

#portfolio{
	width: 90%;
	margin:0 auto;
}

#workmed li{
	display:none;
}

#workmed2 li{
	display: none;
}
#workbig li{
	display: none;
}

@media only screen and (min-width: 28em){
	#workmed li{
	display: inline-block;
	line-height:20px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed2 li{
	display: none;
}
#workbig li{
	display: none;
}

}

@media only screen and (min-width: 43em){
	#workmed2 li{
	display: inline-block;
	line-height:50px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed li{
	display: none;
}

#workbig li{
	display: none;
}
}

@media only screen and (min-width:70em){
	#workbig li{
	display: inline-block;
	line-height:50px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed li{
	display: none;
}

#workmed2 li{
	display: none;
}
}
	
	
#connect li{
	display:inline-block;
}


html{
	background:#000;
	}
	
#worksmall{
	padding:0;
}
#worksmall img{
	width:100%;
}
	
#worksmall li{
	display: inline-block;
	line-height:20px;
	
}

#portfolio{
	width: 90%;
	margin:0 auto;
}

#workmed li{
	display:none;
}

#workmed2 li{
	display: none;
}
#workbig li{
	display: none;
}

@media only screen and (min-width: 28em){
	#workmed li{
	display: inline-block;
	line-height:20px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed2 li{
	display: none;
}
#workbig li{
	display: none;
}

}

@media only screen and (min-width: 43em){
	#workmed2 li{
	display: inline-block;
	line-height:50px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed li{
	display: none;
}

#workbig li{
	display: none;
}
}

@media only screen and (min-width:70em){
	#workbig li{
	display: inline-block;
	line-height:50px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed li{
	display: none;
}

#workmed2 li{
	display: none;
}
}
	
	
#connect li{
	display:inline-block;
}
