@-moz-viewport{ width: device-width; scale: 1;}
@-ms-viewport{ width: device-width; scale: 1;}
@-o-viewport{ width: device-width; scale: 1;}
@-webkit-viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width;scale: 1;}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
 
html{
	background:#000;
	height: 100%;
	font-family: 'Rokkitt', serif;
	font: normal 100%/1.5 sans-serif;
	color:#FFF;
	
}

body {
	position: relative;
	padding: 1px 1px 32px;
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

#contact,
#me,
#work
{
	font-family: 'Julius Sans One', sans-serif;
	text-decoration:none;
	color:#8d7401;
	margin: 1.5rem 0;
	font-size: 1.5rem;
	font-weight: normal;
}


#logo{
	margin-top: 400px;
	margin-left: 30px;
	
}


article p{
	font-family: 'Arimo', sans-serif;
	font-size: 90%;
	line-height: 20px;
	margin-bottom: 30px;
	color:#FFF;
	margin-top: 10px;
	padding-left: 40px;
	display:block;
}

#about p{
	font-family: 'Arimo', sans-serif;
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin-bottom: 30px;
	color:#FFF;
	margin-top: 10px;
	display:block;
}

ul,
ol {
	margin: 1.5rem 0;
}

sup {
	line-height: 1px;
}

a,
a:link,
a:visited {
	color: #3c57d3;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	border-color: #1636c5;

	color: #1636c5;
}

.masthead {
	margin: 0 0 1.5rem;
}

.masthead-top {
	overflow: hidden;
	position: relative;
}

.logo-wrapper {
	margin: 0;
	padding: 0;

	font-size: 1rem;
}

.logo,
.logo:link,
.logo:visited {
	float: left;
	height: 70px;
	margin: 0 10px 0 0;
	padding: 0;
	width: 90px;

	background: transparent url("../img/logo.jpg") no-repeat left top;
	background-size: 90px auto;
	border: 0;

	font-size: 1.5rem;
	line-height: 1.3;
	text-indent: 100%;
	white-space: nowrap;
}

.lede {
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	bottom: 0;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 46px;

	background: transparent url("../img/icon-nav.svg") no-repeat 0 0;
	border: 0;

	text-indent: 100%;
	white-space: nowrap;
	
	
}


.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #000;
	background-position: 0 -40px;
}

.nav-btn[data-state="active"] {
	background-color: #000;
	background-position: -46px -40px;
}

.nav {
	margin: 0 -10px;
	overflow: hidden;
	padding: 0;
	font-family: 'Julius Sans One', sans-serif;

	background-color: #8d7401;
}

.nav > ul {
	margin: 0;
	overflow: hidden;
	padding: 0.8rem 0;

	list-style-type: none;
	font-size: 1.25rem;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.5rem 10px;

	border: 0;

	color: #FFF;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	

	color: #000;
}

.nav-bottom {
	margin-top: 1.5rem;
}

.nav-top {
	max-height: 0;

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 14rem;
}

@media only screen and (min-width: 20em){
	
	.nav li{
		float: left;
		width: 50%;
	}
}

@media only screen and (min-width: 30em){
	
	.nav{
		text-align: center;
	}
	
	
	.nav li{
		display: inline-block;
		float: none;
		margin: 0 0.5rem;
		width: auto;
		}
		
	.nav-btn{
		display: none;
	}
	
	.nav-top{
		max-height: 5rem;
	}
}

@media only screen and (min-width: 50em){
	
	.nav-top{
		float: right;
	}
	
	.masthead-top{
		float:left;
	}
}

.work-list {
	margin: 0 -10px;
	padding: 0;

	list-style-type: none;
	text-align: center;
}

.work-list li {
	display: inline-block;
	width: 48%;
}

.work-list figure {
	display: block;
	margin: 0;
	padding: 10px;
}

.work-list img {
	display: block;
	width: 200px;
}

.work-list a,
.work-list a:link,
.work-list a:visited {
	display: block;

	border: 0;

	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.work-list a:hover,
.work-list a:focus,
.work-list a:active {
	background-color: #e2e2e2;
	border-radius: 6px;
}


.site-footer {
	padding: 0 0 1rem;
	
}




@media only screen and (min-width: 30em){
	.stats-list li{
		float: left;
		width: 50%;
		
	}
}

@media only screen and (min-width: 50em){
	
}

.copyright,
.source {
	font-size: 0.75rem;
	text-align: center;
}

.copyright {
	font-family: 'Julius Sans One', sans-serif;
	margin-bottom: 0;
	margin-top: 1.5rem;
}

.top-link {
	color:#F0F;
	font-size: 0.875rem;
	text-align: center;
}



@media only screen and (min-width: 30em){
	p{
		width: 400px;
	}
}

#connect li {
display: inline;
list-style-type: none;
float: left;
margin-right: 10px;
}

#connect{
	
	position: absolute;
	bottom: 0px;
	left:0;
	
}


 #connect img{
	 width: 24px;
 }
 
 /*nav intro*/
#intronav{
	position:absolute;
	top: 10px;
	right: 20px;
}

#intronav li{
	margin: 10px;
	list-style-type: none;
	display:inline;
	float: teft;
}

#intronav li a{
	color:#FFF;
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;

}
 /*nav*/

/*Portfolio*/
#portfolio{
	width: 90%;
	text-align: center;
	margin:0 auto;
}


#worksmall img{
	width:100%;
}
	
#worksmall li{
	display: inline-block;
	line-height:20px;
	
}

#portfolio{
	width: 90%;
	margin:0 auto;
}

/*#workmed li{
	display:none;
}

#workmed2 li{
	display: none;
}
#workbig li{
	display: none;
}

@media only screen and (min-width: 28em){
	#workmed li{
	display: inline-block;
	line-height:20px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed2 li{
	display: none;
}
#workbig li{
	display: none;
}

}

@media only screen and (min-width: 43em){
	#workmed2 li{
	display: inline-block;
	line-height:50px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed li{
	display: none;
}

#workbig li{
	display: none;
}
}

@media only screen and (min-width:70em){
	#workbig li{
	display: inline-block;
	line-height:50px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#worksmall li{
	display: none;
}

#workmed li{
	display: none;
}

#workmed2 li{
	display: none;
}
}*/
/*Portfolio*/*/


/*footer*/

.copyright{
	font-size: 0.75rem;
	text-align: right;
}

.copyright {
	font-family: 'Julius Sans One', sans-serif;
	margin-bottom: 0;
	margin-top: 1.5rem;
}

.top-link {
	color:#F0F;
	font-size: 0.875rem;
	text-align: center;
}
/*footer*/
