@-moz-viewport{ width: device-width; scale: 1;}
@-ms-viewport{ width: device-width; scale: 1;}
@-o-viewport{ width: device-width; scale: 1;}
@-webkit-viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width;scale: 1;}


html{
	background:#000;
	border-right: 8px solid #8d7401;
	height: 100%;
	
}

#logo{
	margin-top: 400px;
	margin-left: 30px;
	
}

p{
	font-family: 'Quicksand', sans-serif;
	font-size: 90%;
	line-height: 20px;
	margin-bottom: 30px;
	color:#FFF;
	margin-top: 10px;
	padding-left: 40px;
	display:block;
}

@media only screen and (min-width: 30em){
	p{
		width: 400px;
	}
}

#connect li {
display: inline;
list-style-type: none;
float: right;
margin-right: 10px;
}

#connect{
	position: absolute;
	top: 0;
	right:0;
}

