<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Anna Odeh Personal Page</title>
	<link href="css/main.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>
	 <body>
	 
	{% include nav.html %}
	 
	 	 <ul id="connect">
	<li>
	<a href="https://twitter.com/OdehAnna">
	<img src="img/twitter.svg">
	</a>
	</li>
	
	<li>
	<a href="https://www.facebook.com/anna.odeh.7">
	<img src="img/facebook.svg">
	</a>
	</li>
	
	<li>
	<a href="http://www.linkedin.com/pub/anna-odeh/64/a98/744">
	<img src="img/in.svg">
	</a>
	</li>
	</ul>
	 
	 {{content}}
	 
	 
	 {% include nav.html %}
	 </body>
	 </html>